<?xml version="1.0" encoding="utf-8" ?>
<BattleSize.Settings>

  <!-- ////////////////////////////////////// -->
  <!--        BattleSize Settings             -->
  <!-- ////////////////////////////////////// -->

  <!-- min: 2 max: 2047 (max is 2047 agents (camera take one entity)) -->
  <!-- 1024 is last safe value (worst case -> full cav (1024 soldiers + 1024 horses)) -->
  <!-- above 2048 entities (men + cav + camera) the engine will crash -->
  <RealBattleSize>2047</RealBattleSize>

  <!-- Show value loaded in game -->
  <ShowInfo>true</ShowInfo>

</BattleSize.Settings>
