<?xml version="1.0" encoding="utf-8" ?>
<BattleSize.Settings>

  <!-- ////////////////////////////////////// -->
  <!--        BattleSize Settings             -->
  <!-- ////////////////////////////////////// -->

  <!-- min: 2 max: 2047 (max is 2047 agents (camera take one entity)) -->
  <!-- 1024 is last safe value (worst case -> full cav (1024 soldiers + 1024 horses)) -->
  <!-- above 2048 entities (men + cav + camera) the engine will crash -->
  <RealBattleSize>2046</RealBattleSize>
  <RealBattleSizeForSiege>2046</RealBattleSizeForSiege>
  <RealBattleSizeForSallyOut>2046</RealBattleSizeForSallyOut>

  <!-- min: 1 max: 4 Ex: 1.5123 -->
  <!-- if one side has reinforcements, limit troops ratio on battlefield ex: 1 vs X max-->
  <OneVsMax>1.5</OneVsMax>
	
  <!-- min: 0 max: 1 Ex: 0.5123 -->
  <!-- When agents>1024 and 1 rider die this mount will flee or die. 0 mount always flee, 1 mount always die-->
  <RiderDieMountFleeDie>0.5</RiderDieMountFleeDie>

  <!-- Show value loaded in game -->
  <ShowInfo>true</ShowInfo>


</BattleSize.Settings>
