<?xml version="1.0" encoding="utf-8" ?>
<BattleSize.Settings>

  <!-- ////////////////////////////////////// -->
  <!--        BattleSize Settings             -->
  <!-- ////////////////////////////////////// -->

  <!-- Override GetRealBattleSize in BannerlordConfig and get_MaxNumberOfTroopsForMission in MissionAgentSpawnLogic. -->
  <!-- min 2 max 2048 -->
  <!-- 1024 is last safe value (worst case -> full cav (1024 soldier + 1024 horse)) -->
  <!-- above 2048 agents (men + cav) the engine will crash -->
  <!-- PS: you can't have reinforcement after 2048 agents was engaged/dead -->
  <RealBattleSize>2048</RealBattleSize>

  <!-- Show value loaded in game -->
  <ShowInfo>true</ShowInfo>

</BattleSize.Settings>
